*{
    margin: 0;
    padding: 0;
    
}
.container{
    text-align: center;
}

section{
    background-color: white;
    margin: 0rem 16rem 0rem 16rem;
    border-radius: 2rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.401);
}
.titulo{
    color: white;
    margin:3rem;
    font-size: 40px;
    font-weight: bold;
}
.subtitulo{
    padding-top: 1rem;
    
}
img{
    width: 50%;
    height: 50%;
    border-radius: 50rem;
    margin: 1rem;
}
footer{
    margin: 3rem;
    color: white;
}


